*, ::before, ::after {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	margin: 0;
}

a {
	color: #000;
	text-decoration: none;
}

/*==========================================================

						BASE

===========================================================*/

.container {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.flex-container {
	display: flex;
}

.main-button {
	display: block;
	padding: 0 33px;
	padding-top: 14px;
	padding-bottom: 11px;
	background-color: rgba(0,0,0,0);
	border: solid 2px rgba(41,41,42, 0.3);
	border-radius: 3px;
	outline: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 15px;
	cursor: pointer;
}

.main-title {
	margin: 0;
    padding: 0 10px;
	text-align: center;
	font-size: 40px;
	font-weight: 300;
}

/*==========================================================

						HEADER

===========================================================*/

.main-header {
	font-weight: 400;
	font-size: 15px;
}

/*======================top-header=========================*/

.top-header-container {
    justify-content: space-between;
	align-items: center;
	padding-top: 57px;
	margin-bottom: 40px;
}

.main-logo {
	display: block;
	width: 150px;
	min-width: 150px;
	height: 31px;
	margin-right: 90px;
	background-image: url('img/main-logo.png');
	background-size: 151px auto;
	background-repeat: no-repeat;
	cursor: pointer;
}

.top-text {
	width: 235px;
	min-width: 235px;
	margin-right: auto;
	position: relative;
}

.top-text::after {
	content: ""; 
	display: block;
	width: 39px;
	height: 19px;
	background-image: url('img/logo%201c.png');
	background-size: 39px auto;
	position: absolute;
	right: 0px;
	top: -4px;
}

.enter-link {
    display: block;
    padding: 0 33px;
	padding-top: 14px;
	padding-bottom: 11px;
	border: 2px solid rgba(0,0,0,0);
	border-radius: 3px;
}

.header-button {
	margin-left: 26px;
}

/*====================main-navigation=======================*/

.nav-container {
	flex-wrap: wrap;
}

.main-navigation {
	margin-right: auto;
	margin-bottom: 40px;
}

.mobile-menu {
	display: none;
}

#mobile-menu {
	display: none;
}

.main-navigation-list {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-navigation-item {
	margin-right: 80px;
	letter-spacing: 1.5px;
	margin-bottom: 20px;
}

.main-navigation-link {
	position: relative;
	display: inline-block;
	padding-bottom: 2px;
	width: 100%;
	border-bottom: 2px solid rgba(0,0,0,0);
}

.header-phone {
	height: 30px;
	font-size: 20px;
	letter-spacing: 1px;
	line-height: 29px;
	margin-top: -6px;
	margin-bottom: 25px;
}

/*==========================================================

						MAIN

===========================================================*/

/*====================main-banner=========================*/

.main-banner {
	margin-bottom: 70px;
    padding: 0 20px;
	padding-top: 77px;
    padding-bottom: 40px;
	background-image: url('img/main-banner.jpg');
	background-size: 1300px auto;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #363636;
	color: #fff;
}

.main-banner-title {
	font-size: 40px;
	font-weight: 100;
	margin-bottom: 36px;
}

.main-banner-text {
	margin-bottom: 57px;
	font-size: 18px;
  	font-weight: 300;
	line-height: 35px;
}

.main-banner-button {
	color: #fff;
	border-color: #ef4136;
}

/*=====================features=========================*/

.features .main-title {
	text-align: left;
}

.features-container {
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 50px;
    padding: 0 10px;
	padding-bottom: 99px;
}

.features-element {
	width: 160px;
    margin: 10px;
	font-size: 15px;
	font-weight: 400;
}

.features-img {
	width: 80px;
	height: 80px;
	margin-bottom: 20px;
	position: relative;
}

.features-img img {
	position: absolute;
	bottom: 0;
	left: 0;
}

.features-text {
	margin-bottom: 30px;
	line-height: 25px;
}

.features-link {
	color: #b3b5b7;	
	line-height: 30px;
}

/*====================statistics=========================*/

.statistics {
	margin-bottom: 70px;
	padding-top: 72px;
	padding-bottom: 80px;
	background-color: #f0f1f2;
	overflow: hidden;
}

.statistics-box {
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 60px;
}

.statistics-element {
	width: 281px;
    margin: 10px;
	padding: 0 60px;
	padding-top: 25px;
	padding-bottom: 36px;
	background-color: #fff;
	font-weight: 300;
}

.statistics-number {
	font-size: 50px;
	line-height: 100px;
}

.statistics-number span {
	font-size: 15px;
}

.statistics-text {
	font-size: 18px;
	line-height: 30px;
}

/*======================steps=========================*/

.steps {
	border-bottom: 1px solid #ece4e5;
	margin-bottom: 70px;
	padding-bottom: 100px;
}

.steps-list {
	list-style: none;
	padding: 0;
	margin: 0;
	padding-bottom: 80px;
}

[name="steps"] {
	display: none;
}

.steps-list-element {
	display: flex;
	width: 100%;
}

.steps-wrapper {
	width: 330px;
	flex-shrink: 0;
	padding-top: 15px;
	padding-bottom: 15px;
}

.steps-element-title {
	display: block;
	margin-bottom: 5px;
	padding-left: 45px;
	padding-right: 40px;
	font-size: 15px;
  	font-weight: 500;
	line-height: 20px;
}

.steps-element-text {
	display: none;
	padding-left: 60px;
	padding-right: 35px;
	font-size: 14px;
  	font-weight: 300;
	line-height: 20px;
	color: #363636;
	
}

#steps1:checked ~ .steps-list .steps1 .steps-wrapper,
#steps2:checked ~ .steps-list .steps2 .steps-wrapper,
#steps3:checked ~ .steps-list .steps3 .steps-wrapper,
#steps4:checked ~ .steps-list .steps4 .steps-wrapper,
#steps5:checked ~ .steps-list .steps5 .steps-wrapper,
#steps6:checked ~ .steps-list .steps6 .steps-wrapper{
	padding-top: 25px;
	background-color: #eef0f1;
}

#steps1:checked ~ .steps-list .steps1 .steps-element-text,
#steps2:checked ~ .steps-list .steps2 .steps-element-text,
#steps3:checked ~ .steps-list .steps3 .steps-element-text,
#steps4:checked ~ .steps-list .steps4 .steps-element-text,
#steps5:checked ~ .steps-list .steps5 .steps-element-text,
#steps6:checked ~ .steps-list .steps6 .steps-element-text {
	display: block;
}

.steps-content {
	width: auto;
	margin-top: -15px;
	margin-bottom: -300px;
}

.steps-content img {
	display: none;
    max-width: 100%;
    height: auto;
}

#steps1:checked ~ .steps-list .steps-content1 img,
#steps2:checked ~ .steps-list .steps-content2 img,
#steps3:checked ~ .steps-list .steps-content3 img,
#steps4:checked ~ .steps-list .steps-content4 img,
#steps5:checked ~ .steps-list .steps-content5 img,
#steps6:checked ~ .steps-list .steps-content6 img{
	display: block;
} 

/*====================features2=========================*/

.features-title {
	font-weight: 400;
	margin-bottom: 5px;
}

.features-text_mod {
	font-weight: 300;
}

.features-element_mod {
	width: 200px;
}

/*=====================offers=========================*/

.offers {
	background-color: #f0f1f2;
	padding-top: 80px;
	padding-bottom: 70px;
	overflow: hidden;
}

.offers-text {
	max-width: 740px;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 50px;
    padding: 0 20px;
    text-align: center;
}

.offers-number-box {
	flex-wrap: wrap;
	justify-content: center;
}

.offers-number-element {
	margin: 0 32px;
	margin-bottom: 35px;
	text-align: center;
}

.offers-number {
	font-size: 50px;
	line-height: 55px;
	margin-bottom: 25px;
}

.offers-logo-box {
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 -110px;
	overflow: hidden;
}

.offers-logo-img {
	width: 220px;
	height: 140px;
	background-color: #fff;
	margin: 10px;
}

.offers-text_mod {
	margin: 0 auto;
	margin-top: 66px;
	margin-bottom: 35px;
	text-align: center;
}

.offers .main-button {
	margin: 0 auto;
	border-color: #ef4136;
	
}

/*==========================================================

						FOOTER

===========================================================*/

.main-footer {
	background-color: #363636;
	padding-top: 57px;
	padding-bottom: 91px;
	overflow: hidden;
}

.footer-container {
	max-width: 860px;
	justify-content: space-between;
}

.footer-element-left {
	max-width: 160px;
	margin-right: 30px;
}

.footer-logo {
	margin-right: 0;
	background-image: url('img/logo-bottom.png');
	margin-bottom: 33px;
}

.footer-contact {
	display: block;
	color: #f2f3f4;
	font-size: 14px;
	line-height: 35px;
}

.main-address {
	margin-top: 10px;
	margin-bottom: 30px;
	font-style: normal;
}

.other-information {
	font-size: 12px;
  	font-weight: 300;
	line-height: 25px;
	color: #bbbbbb;
}

.footer-element-right {
	max-width: 620px;
}

.footer-navigation-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 30px;
	
}

.footer-navigation-item {
	margin-right: 20px;
}

.footer-navigation-item:last-child {
	margin-right: 0;
}

.inner-navigation-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.inner-navigation-link {
	line-height: 40px;
	font-size: 12px;
	color: #f2f3f4;
	cursor: pointer;
}

.footer-information-box {
	flex-wrap: wrap;
}

.box-top {
	margin-bottom: 10px;
}

.footer-information {
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 35px;
	color: #bbbbbb;
	position: relative;
}

.footer-information::after {
	content: "";
	display: block;
	position: absolute;
}

.footer-navigation-title {
	font-size: 14px;
	line-height: 35px;
    font-weight: 500;
	color: #f2f3f4;
	margin-bottom: 5px;
	cursor: pointer;
}

.footer-information1 {
	padding-right: 40px;
	margin-right: 31px;
}

.footer-information1::after {
	width: 32px;
	height: 15px;
	background-image: url('img/1c_footer.png');
	background-size: 32px auto;
	top: 7px;
	right: 0;
}

.footer-information2 {
	padding-right: 30px;
}

.footer-information2::after {
	width: 22px;
	height: 17px;
	background-image: url('img/Logo%20Sk.png');
	background-size: 22px auto;
	top: 7px;
	right: 0;
}

.footer-information3 {
	padding-left: 32px;
	margin-right: 44px;
}

.footer-information3::after {
	width: 23px;
	height: 27px;
	background-image: url('img/ssl.png');
	background-size: 23px auto;
	top: 7px;
	left: 0;
}

.footer-information4 {
	padding-left: 42px
}

.footer-information4::after {
	width: 33px;
	height: 31px;
	background-image: url('img/tkp.png');
	background-size: 33px auto;
	top: 7px;
	left: 0;
}

[name="footer-navigation-item"] {
	display: none
}
		
/*==========================================================

						ANIMATION

===========================================================*/

.enter-link:hover {
	border: 2px solid #ef4136;
	transition: 0.3s;
}

.steps-element-title:hover,
.main-logo:hover,
.main-button:hover {
	opacity: 0.6;
	transition-duration: 0.3s;
}

.features-link:hover{
	color: #111;
}

.footer-contact:hover {
	color: #ef4136;
	transition-duration: 0.3s;
}

.inner-navigation-link:hover,
.features-link:hover,
.header-phone:hover,
.main-navigation-link:hover {
	border-bottom: 2px solid #ef4136;
	transition-duration: 0.3s;
}

.footer-contact:active,
.inner-navigation-link:active,
.steps-element-title:active,
.features-link:active,
.main-logo:active,
.header-phone:active,
.main-navigation-link:active,
.enter-link:active,
.main-button:active {
	opacity: 0.3;
}

/*==========================================================

						STYLE for TABLET

===========================================================*/

@media (max-width:768px) {
	
		.container {
			max-width: 768px;
			margin: 0 auto;
			padding: 0 20px;
		}

		/*======================top-header=========================*/

		.main-logo {
				margin-right: 25px;
		}

		/*====================main-navigation=======================*/
		
		.main-navigation-item {
			margin-right: 50px;
		}

        /*====================main-banner=======================*/
		
		.main-banner {
			background-size: 2300px auto;
		}
	
		.main-banner-title {
			font-size: 30px;
		}
	
		.main-banner-text {
			font-size: 16px;
		}
	
        /*====================features=======================*/

		.features-container {
			justify-content: space-around;
		}	

		/*====================statistics=========================*/

		.statistics-box {
			justify-content: space-around;
		}

		.statistics-element {
			width: 200px;
			padding-left: 20px;
			padding-right: 20px;
		}
		
		/*======================steps=========================*/

		.steps-list {
			padding-bottom: 40px;
		}

		.steps-list-element {
			flex-direction: column;
			width: 100%;
		}

		.steps-wrapper {
			width: 100%;
		}

		.steps-content {
			margin-top: 0;
			margin-bottom: 0;
			background-color: #eef0f1;
		}

		.steps-content img {
			margin: 0 auto;
			padding: 0 15px;
			padding-bottom: 25px;
		}

		/*====================features2=========================*/

		.features-title {
			font-weight: 400;
			margin-bottom: 5px;
		}

		.features-text_mod {
			font-weight: 300;
		}

		/*=====================offers=========================*/

		.offers-logo-box {
			margin: 0;
		}

		.offers-logo-img {
			margin: 15px;
		}
}

/*==========================================================

						OTHER STYLE

===========================================================*/

@media (max-width: 800px) {
		.main-logo {
				margin-right: auto;
		}
}

@media (max-width: 750px) {
		.top-header-container {
			display: block;
			padding-top: 20px;
		}	
	
		.main-logo {
			width: 100%;
			margin-bottom: 10px;
			padding-bottom: 30px;
			background-position: bottom;
		}
		
		.top-text {
			width: 100%;
			margin-left: 0;
			margin-bottom: 50px;
			text-align: center;
			position: relative;
		}
	
		.top-text::after {
			right: 50%;
    		top: 23px;
    		margin-right: -20px;
		}
		
		.enter-link {
		    display: inline-block;
			width: 49%;
			margin: 20px 0;
			padding-top: 14px;
			padding-bottom: 11px;
			text-align: center;
			border: 2px solid #29292a;
			border-radius: 3px;
			
		}
		
		.header-button {
			display: inline-block;
			width: 49%;
			margin: 0;
		}	
	
/*===================footer=============================*/
	
		.footer-container {
				
		}

		.footer-element-left {
			text-align: right;
		}
	
		.footer-element-right {
			display: flex;
			flex-direction: column;
			text-align: left;
		}
	
		.footer-navigation-list {
			display: block;
			order: -1;
		}
		
		.inner-navigation-list {
			display: none;
		}
		
		[name="footer-navigation-item"]:checked + label +.inner-navigation-list{
			display: block;
		}
	
 		[name="footer-navigation-item"]:checked + label {
			border-bottom: 2px solid #ef4136;
			transition-duration: 0.3s;
		}
		
		.footer-information-box {
			flex-direction: column;
			margin-bottom: 0;
		}
	
		.footer-information {
			width: 100%;
			max-width: 360px;
			padding-right: 40px;
			margin-right: 0;
		}
		
		.footer-information3 {
			padding-left: 0;
		}
	
		.footer-information4 {
			padding-left: 0;
			padding-right: 45px;
		}
		
		.footer-information2::after {
			right: 6px;
		}
	
		.footer-information3::after {
			left: initial;
			right: 6px;
		}
		
		.footer-information4::after {
			left: initial;
			right: 0;
		}
}

@media (max-width: 610px) {
		.main-title {
			font-size: 30px;
			text-align: center;
		}
		
		.main-navigation-list {
			display: block;
			font-size: 18px;
		}	
	
		.features-element_mod {
			width: 100%;
		}
		
		.features-element_mod {
			margin-bottom: 0;
			border-bottom: 1px solid #eee;
		}
}

@media (max-width:  500px) {
		.statistics-element {
			width: 100%;
			text-align: center;
		}
}

@media (max-width:  450px) {
		
		.main-footer {
			padding-top: 30px;
			padding-bottom: 30px;
			position: relative;
		}
			
		.footer-container {
			flex-direction: column;
		}
		
		.footer-element-left {
			max-width: 100%;
			display: block;
			margin-right: 0;
			text-align: center;
			order: 1;
		}
		
		.other-information {
			padding: 0 20px;
		}
			
		.footer-information {
			max-width: 100%;
		}
		
		.footer-box-top {
			padding-top: 20px;
			border-top: 2px solid #eee;
		}
	
		.footer-box-bottom {
			margin-bottom: 40px;
			padding-bottom: 20px;
			border-bottom: 2px solid #eee;
		}
}

@media (max-width: 420px) {
	
		/*====================features=======================*/
	
		.features-container {
			margin-top: 30px; 
			padding-bottom: 20px; 
		}
		
		.features .main-title {
			text-align: center;
			font-size: 25px;
		}
		
		.features-element {
			max-width: 360px;
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 15px;
		}
	
		.features-img img{
			top: 5px;	
		}
	
		.features-img{
			margin-bottom: 0;	
		}
	
		.features-text {
			max-width: 300px;
			margin-bottom: 0px;
		}	
	
		.features-title {
			padding-top: 20px;
			padding-left: 5px;
		}
}

/*==========================================================

						STYLE for PHONE

===========================================================*/

@media (max-width:375px) {
	
		.container {
			max-width: 375px;
			margin: 0 auto;
			padding: 0 10px;
		}
	
		.main-title {
			font-size: 30px;
		}

		/*======================top-header=========================*/
		
		.enter-link {
		    display: block;
			width: 100%;
			margin: 20px 0;
			padding-top: 14px;
			padding-bottom: 11px;
			text-align: center;
			border: 2px solid #29292a;
			border-radius: 3px;
			
		}
		
		.header-button {
			width: 100%;
			margin: 0;
		}	
		
		/*====================main-navigation=======================*/
	
		.main-navigation {
			padding-top: 30px;
    		position: relative;
		}
		
		.mobile-menu {
			display: block;
			width: 25px;
			height: 25px;
			position: absolute;
			top: 0;
			left: 0;
		}
		
		.mobile-menu::after {
			content: "";
			display: block;
			border-top: 3px solid black;
			box-shadow: 0 7px, 0 14px;
			
		}
		
		.main-navigation-list {
			display: none;
		}	
	
		#mobile-menu:checked ~ .main-navigation-list {
			display: block;
		}
		
		.main-navigation-item {
			margin-right: 0px;
			margin-bottom: 5px;
		}
		
		.header-phone {
			padding-right: 5px;
		}
	
		/*====================main-banner=========================*/
	
		.main-banner {
			padding-top: 20px;	
			margin-bottom: 20px;
		}	
	
		.main-banner-title {
			font-size: 30px;
			font-weight: 100;
			margin-bottom: 36px;
		}
		
		.main-banner-text{
			margin-bottom: 40px;
    		font-size: 14px;
    		font-weight: 300;
    		line-height: 25px;
		}
		
		/*====================statistics=======================*/
	
		.statistics {
			padding-top: 20px;
		}
	
		.statistics-box {
			margin-top: 20px;
		}
	
		.statistics-element {
			max-width: 290px;
			margin: 0;
			padding-left: 5px;
			padding-right: 5px;
			margin-bottom: 10px;
			text-align: center;
			
		}
	
		.statistics-number {
			font-size: 40px;
		}
		
		.statistics-text {
			font-size: 15px;
		}
		
		/*====================steps=======================*/
		
		.steps-content-box {
			display: none;
		}
		
		/*====================features2=======================*/
		
		.features-text_mod {
			padding-left: 5px;
		}
	
		/*====================offers=======================*/	

		.offers {
			padding-top: 40px;
		}
			
		.offers-text {
			width: 100%;
			padding-left: 10px;
			padding-right: 10px;
			text-align: center;
		}
}

