*, ::before, ::after {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	margin: 0;
}

a {
	color: #000;
	text-decoration: none;
}




/*==========================================================

						BASE

===========================================================*/
.container {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.flex-container {
	display: flex;
}

.main-button {
	display: block;
	padding: 0 33px;
	padding-top: 14px;
	padding-bottom: 11px;
	background-color: rgba(0,0,0,0);
	border: solid 1.5px #29292a;
	border-radius: 3px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 15px;
	cursor: pointer;
}

.main-title {
	margin: 0;
    padding: 0 10px;
	text-align: center;
	font-size: 40px;
	font-weight: 300;
}
/*==========================================================

						HEADER

===========================================================*/

.main-header {
	font-weight: 400;
	font-size: 15px;
}


/*======================top-header=========================*/

.top-header-container {
    justify-content: space-between;
	align-items: center;
	padding-top: 57px;
	margin-bottom: 40px;
	
}

.main-logo {
	display: block;
	width: 150px;
	min-width: 150px;
	height: 31px;
	margin-right: 90px;
	background-image: url('img/main-logo.png');
	background-size: 151px auto;
	background-repeat: no-repeat;
	cursor: pointer;
}

.top-text {
	width: 235px;
	min-width: 235px;
	margin-right: auto;
	position: relative;
}

.top-text::after {
	content: ""; 
	display: block;
	width: 39px;
	height: 19px;
	background-image: url('img/logo%201c.png');
	background-size: 39px auto;
	position: absolute;
	right: 0px;
	top: -4px;
}

.enter-link {
    display: block;
    padding: 0 33px;
}

.header-button {
	margin-left: 26px;
}



/*====================main-navigation=======================*/
.nav-container {
	flex-wrap: wrap;
}

.main-navigation {
	margin-right: auto;
	margin-bottom: 40px;
	
}

.mobile-menu {
	display: none;
}

#mobile-menu {
	display: none;
}

.main-navigation-list {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-navigation-item {
	margin-right: 80px;
	letter-spacing: 1.5px;
	margin-bottom: 20px;
}

.navigation-link-active {
	position: relative;
}

.navigation-link-active::after {
	content: "";
	display: block;
	width: 100%;
	border-top: 2px solid #ef4136;
	bottom: -5px;
}


.header-phone {
	font-size: 20px;
	letter-spacing: 1px;
	line-height: 29px;
	margin-top: -6px;
	margin-bottom: 25px;
}


/*==========================================================

						MAIN

===========================================================*/


/*====================main-banner=========================*/

.main-banner {
	margin-bottom: 70px;
    padding: 0 20px;
	padding-top: 77px;
    padding-bottom: 40px;
	background-image: url('img/main-banner.jpg');
	background-size: 1300px auto;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #363636;
	color: #fff;
	
}

.main-banner-title {
	font-size: 40px;
	font-weight: 100;
	margin-bottom: 36px;
}

.main-banner-text {
	margin-bottom: 57px;
	font-size: 18px;
  	font-weight: 300;
	line-height: 35px;
	
}

.main-banner-button {
	color: #fff;
	border-color: #ef4136;
}

/*=====================features=========================*/


.features .main-title {
	text-align: left;
}

.features-container {
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 50px;
    padding: 0 10px;
	padding-bottom: 99px;
}

.features-element {
	width: 160px;
    margin: 10px;
	font-size: 15px;
	font-weight: 400;
}

.features-img {
	width: 80px;
	height: 80px;
	margin-bottom: 20px;
	position: relative;
}

.features-img img {
	position: absolute;
	bottom: 0;
	left: 0;
}

.features-text {
	margin-bottom: 30px;
	line-height: 25px;
}

.features-link {
	color: #b3b5b7;	
	line-height: 30px;
}

/*====================statistics=========================*/

.statistics {
	margin-bottom: 85px;
	padding-top: 72px;
	padding-bottom: 80px;
	background-color: #f0f1f2;
	overflow: hidden;
}

.statistics-box {
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 60px;
}

.statistics-element {
	width: 281px;
    margin: 10px;
	padding: 0 60px;
	padding-top: 25px;
	padding-bottom: 36px;
	background-color: #fff;
	font-weight: 300;
}

.statistics-number {
	font-size: 50px;
	line-height: 100px;
	
}

.statistics-number span {
	font-size: 15px;
}

.statistics-text {
	font-size: 18px;
	line-height: 30px;
}


/*======================steps=========================*/


.steps {
	display: flex;
	border-bottom: 1px solid #ece4e5;
	margin-bottom: 50px;
}

.steps-list {
	margin: 0;
	padding: 0;
	width: 330px;
	list-style: none;
	line-height: 20px;
}

[name="steps"] {
	display: none;
}

.steps-list-element {
	margin-bottom: 35px;
	padding-left: 35px;
	padding-right: 35px;
	
}


.steps-element-title {
	font-weight: 500;
	font-size: 15px;
	margin-bottom: 7px;
	cursor: pointer;
}

.steps-element-text {
	display: none;
	padding-left: 17px;
	font-size: 14px;
}

.active {
	
}


#steps1:checked ~ .steps-list .steps1,
#steps2:checked ~ .steps-list .steps2,
#steps3:checked ~ .steps-list .steps3,
#steps4:checked ~ .steps-list .steps4,
#steps5:checked ~ .steps-list .steps5,
#steps6:checked ~ .steps-list .steps6 {
	padding-top: 22px;
	padding-bottom: 22px;
	background-color: #eef0f1;
}


#steps1:checked ~ .steps-list .steps1 .steps-element-text,
#steps2:checked ~ .steps-list .steps2 .steps-element-text,
#steps3:checked ~ .steps-list .steps3 .steps-element-text,
#steps4:checked ~ .steps-list .steps4 .steps-element-text,
#steps5:checked ~ .steps-list .steps5 .steps-element-text,
#steps6:checked ~ .steps-list .steps6 .steps-element-text {
	display: block;
}

.steps-content-box {
    width: auto;
}

.steps-content {
	display: none;
	width: 610px;
	margin-top: -15px;
	
}

.steps-content img {
    max-width: 100%;
    height: auto;
}

#steps1:checked ~ .steps-content-box .steps-content1,
#steps2:checked ~ .steps-content-box .steps-content2,
#steps3:checked ~ .steps-content-box .steps-content3,
#steps4:checked ~ .steps-content-box .steps-content4,
#steps5:checked ~ .steps-content-box .steps-content5,
#steps6:checked ~ .steps-content-box .steps-content6 {
	display: block;
} 

/*====================features2=========================*/

.features-title {
	font-weight: 400;
	margin-bottom: 5px;
}

.features-text_mod {
	font-weight: 300;
}

.features-element_mod {
	width: 200px;
}
/*=====================offers=========================*/

.offers {
	background-color: #f0f1f2;
	padding-top: 80px;
	padding-bottom: 70px;
	overflow: hidden;
}

.offers-text {
	max-width: 740px;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 50px;
    padding: 0 20px;
    text-align: center;
}

.offers-number-box {
	flex-wrap: wrap;
	justify-content: center;
}

.offers-number-element {
	margin: 0 32px;
	margin-bottom: 35px;
	text-align: center;
}

.offers-number {
	font-size: 50px;
	line-height: 55px;
	margin-bottom: 25px;
}

.offers-logo-box {
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 -110px;
	overflow: hidden;
}

.offers-logo-img {
	width: 220px;
	height: 140px;
	background-color: #fff;
	margin: 10px;
}

.offers-text_mod {
	margin: 0 auto;
	margin-top: 66px;
	margin-bottom: 35px;
	text-align: center;
}

.offers .main-button {
	margin: 0 auto;
	border-color: #ef4136;
	
}

/*==========================================================

						FOOTER

===========================================================*/

.main-footer {
	background-color: #363636;
	padding-top: 57px;
	padding-bottom: 91px;
}

.footer-container {
	width: 860px;
	justify-content: space-between;
}

.footer-element-left {
	max-width: 160px;
}


.footer-logo {
	margin-right: 0;
	background-image: url('img/logo-bottom.png');
	margin-bottom: 33px;
}

.footer-contact {
	display: block;
	color: #f2f3f4;
	font-size: 14px;
	line-height: 35px;
}

.main-address {
	margin-top: 18px;
	margin-bottom: 30px;
	font-style: normal;
}

.other-information {
	font-size: 12px;
  	font-weight: 300;
	line-height: 25px;
	color: #bbbbbb;
}

.footer-element-right {
	max-width: 620px;
	flex-grow: 1;
}

.footer-navigation-list {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 0;
	margin: 0;
	
}

.inner-navigation-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.inner-navigation-link {
	line-height: 40px;
	font-size: 12px;
	color: #f2f3f4;
}

.footer-information-box {
	justify-content: space-between;
}

.box-top {
	padding-top: 10px;
	margin-bottom: 35px;
}

.footer-information {
	font-size: 14px;
	color: #bbbbbb;
}

.footer-navigation-title {
	font-size: 14px;
    font-weight: 500;
	color: #f2f3f4;
}





/*==========================================================

						STYLE for TABLET

===========================================================*/





@media (max-width:768px) {
	
		.container {
			max-width: 768px;
			margin: 0 auto;
			padding: 0 20px;
		}

		/*======================top-header=========================*/

		.main-logo {
				margin-right: 25px;
		}

		/*====================main-navigation=======================*/
		
		.main-navigation-item {
			margin-right: 50px;
		}

        /*====================main-banner=======================*/
		
		.main-banner {
			background-size: 2300px auto;
		}
	
		.main-banner-title {
			font-size: 30px;
		}
	
		.main-banner-text {
			font-size: 16px;
		}
	
			

    
        /*====================features=======================*/

		.features-container {
			justify-content: space-around;
		}	

		/*====================statistics=========================*/

		.statistics-box {
			justify-content: space-around;
		}

		.statistics-element {
			width: 200px;
			padding-left: 20px;
			padding-right: 20px;
		}

		/*======================steps=========================*/

		.steps-list {
			width: 300px;
		}

		.steps-content {
			width: auto;
		}

		

		/*====================features2=========================*/

		.features-title {
			font-weight: 400;
			margin-bottom: 5px;
		}

		.features-text_mod {
			font-weight: 300;
		}

		

		/*=====================offers=========================*/

		.offers-logo-box {
			margin: 0;
		}

		.offers-logo-img {
			margin: 15px;
		}
}


/*==========================================================

						OTHER STYLE

===========================================================*/
@media (max-width: 750px) {
		.top-header-container {
			display: block;
			padding-top: 20px;
		}	
	
		.main-logo {
			width: 100%;
			margin-bottom: 10px;
			padding-bottom: 30px;
			background-position: bottom;
		}
		
		.top-text {
			width: 100%;
			margin-left: 0;
			margin-bottom: 50px;
			text-align: center;
			position: relative;
		}
	
		.top-text::after {
			right: 50%;
    		top: 23px;
    		margin-right: -20px;
		}
		
		.enter-link {
		    display: inline-block;
			width: 49%;
			margin: 20px 0;
			padding-top: 14px;
			padding-bottom: 11px;
			text-align: center;
			border: 2px solid #29292a;
			border-radius: 3px;
			
		}
		
		.header-button {
			display: inline-block;
			width: 49%;
			margin: 0;
		}	
		
}

@media (max-width: 610px) {
		.main-title {
			font-size: 30px;
			text-align: center;
		}
		
		.main-navigation-list {
			display: block;
			font-size: 18px;
		}	
	
		.features-element_mod {
			width: 100%;
		}
		
		.features-element_mod {
			margin-bottom: 0;
			border-bottom: 1px solid #eee;
		}
	
		
			
}

@media (max-width: 480px) {
		.statistics-element {
			width: 100%;
			text-align: center;
		}
		
			
}



@media (max-width: 420px) {
		/*====================features=======================*/
	
		.features-container {
			margin-top: 30px; 
			padding-bottom: 20px; 
		}
		
	
		.features .main-title {
			text-align: center;
			font-size: 25px;
		}
		
		.features-element {
			max-width: 360px;
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 15px;
			
		}
		.features-img img{
			top: 5px;	
		}
	
		.features-img{
			margin-bottom: 0;	
		}
	
		
		.features-text {
			max-width: 300px;
			margin-bottom: 0px;
		}	
	
		.features-title {
			padding-top: 20px;
			padding-left: 5px;
		}
}




/*==========================================================

						STYLE for PHONE

===========================================================*/




@media (max-width:375px) {
	
		.container {
			max-width: 375px;
			margin: 0 auto;
			padding: 0 10px;
		}
	
		.main-title {
			font-size: 30px;
		}
	
		

		/*======================top-header=========================*/
		
		.enter-link {
		    display: block;
			width: 100%;
			margin: 20px 0;
			padding-top: 14px;
			padding-bottom: 11px;
			text-align: center;
			border: 2px solid #29292a;
			border-radius: 3px;
			
		}
		
		.header-button {
			width: 100%;
			margin: 0;
		}	
		
		/*====================main-navigation=======================*/
		.main-navigation {
			padding-top: 30px;
    		position: relative;
		}
		
		.mobile-menu {
			display: block;
			width: 25px;
			height: 25px;
			position: absolute;
			top: 0;
			left: 0;
		}
		
		.mobile-menu::after {
			content: "";
			display: block;
			border-top: 3px solid black;
			box-shadow: 0 7px, 0 14px;
			
		}
		
		.main-navigation-list {
			display: none;
		}	
	
		#mobile-menu:checked ~ .main-navigation-list {
			display: block;
		}
		
		.main-navigation-item {
			margin-right: 0px;
			margin-bottom: 5px;
		}
		
		.header-phone {
			padding-right: 5px;
		}
	
		/*====================main-banner=========================*/
		.main-banner {
			padding-top: 20px;	
			margin-bottom: 20px;
		}	
	
	
		.main-banner-title {
			font-size: 30px;
			font-weight: 100;
			margin-bottom: 36px;
		}
		
		.main-banner-text{
			margin-bottom: 40px;
    		font-size: 14px;
    		font-weight: 300;
    		line-height: 25px;
		}
		
		
		
	
		
	
		/*====================statistics=======================*/
	
		.statistics {
			padding-top: 20px;
		}
	
		.statistics-box {
			margin-top: 20px;
		}
	
		.statistics-element {
			max-width: 290px;
			margin: 0;
			padding-left: 5px;
			padding-right: 5px;
			margin-bottom: 10px;
			text-align: center;
			
		}
	
		.statistics-number {
			font-size: 40px;
		}
		
		.statistics-text {
			font-size: 15px;
		}
		
		
		
		/*====================steps=======================*/
		
		.steps-content-box {
			display: none;
		}
		
		/*====================features2=======================*/
		
		
	
		.features-text_mod {
			padding-left: 5px;
		}
	
		
		/*====================offers=======================*/	
		.offers {
			padding-top: 40px;
		}
			
	
		.offers-text {
			width: 100%;
			padding-left: 10px;
			padding-right: 10px;
			text-align: center;
			
		}
		
	
		
}

